<div class="max-w-2xl mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <h2 class="text-2xl font-bold mb-6 text-center">Ajouter un Événement</h2>
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="space-y-4">

    <div>
      <label class="block mb-1 font-medium">Titre</label>
      <input type="text" formControlName="titre" class="w-full border border-gray-300 p-2 rounded" />
    </div>

    <div>
      <label class="block mb-1 font-medium">Date</label>
      <input type="date" formControlName="date" class="w-full border border-gray-300 p-2 rounded" />
    </div>

    <div>
      <label class="block mb-1 font-medium">Lieu</label>
      <input type="text" formControlName="lieu" class="w-full border border-gray-300 p-2 rounded" />
    </div>

    <div>
      <label class="block mb-1 font-medium">Description</label>
      <textarea formControlName="description" rows="4" class="w-full border border-gray-300 p-2 rounded"></textarea>
    </div>

    <div>
      <label class="block mb-1 font-medium">Catégorie</label>
      <select formControlName="categorie" class="w-full border border-gray-300 p-2 rounded">
        <option value="" disabled selected>Sélectionnez une catégorie</option>
        <option value="CONCERT">CONCERT</option>
        <option value="CONFERENCE">CONFERENCE</option>
        <option value="ATELIER">ATELIER</option>
        <option value="SPECTACLE">SPECTACLE</option>
        <option value="SPORT">SPORT</option>
      </select>
    </div>




    <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition">
      Ajouter
    </button>

  </form>
</div>
